@model WebUI.Models.MenuViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="col-4">
    <a class="list-group-item">Categories</a>
    @foreach (var category in Model.Categories)
    {
        var css = "list-group-item";
        if (category == Model.CurrentCategory)
        {
            css += " active";
        }
        <a href="/menu/index?category=@category" class="@css">@category</a>
    }
</div>
<div class="col-8">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Explanation</td>
                <td>Price</td>
            </tr>
            @foreach (var item in Model.Menu)
            {
                if (item.IsAvailable == true)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Category</td>
                        <td>
                            @if (item.Explanation != null)
                            {
                                @item.Explanation
                            }
                        </td>
                        <td>@item.Price</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
