@model WebUI.Models.MenuViewModel
@{
    Layout = "~/Views/_MenuLayout.cshtml";
    decimal basket_cost = 0;
    decimal item_cost = 0;
}

    <div class="w-100" style="margin:auto">
        <a class="list-group-item"><h3>Categories</h3></a>
        @foreach (var category in Model.Categories)
        {
            var css = "list-group-item";
            if (category == Model.CurrentCategory)
            {
                css += " active";
            }
            else
            {
                css += " list-group-item-info";
            }
            <a href="/menu/index?table=@Model.TableNumber&category=@category" class="@css">@category</a>

            if (category == Model.CurrentCategory)
            {
                <div class="w-100">
                    <table class="table" align="center">
                        @foreach (var item in Model.Menu)
                        {
                            if (item.IsAvailable == true)
                            {
                                <tr>
                                    <td style="text-align:center"><img src="@item.ImagePath" alt="@item.Name" width="100" height="50" /></td>
                                    <td style="text-align:center">@item.Name</td>
                                    <td style="text-align:center">
                                        @if (item.Explanation != null)
                                        {
                                            @item.Explanation
                                        }
                                    </td>
                                    <td style="text-align:center">@item.Price ₺</td>
                                    <td style="text-align:center">
                                        <form action="/menu/index?table=@Model.TableNumber&category=@Model.CurrentCategory" method="post">
                                            <input type="number" name="quantity" value="1" min="1" max="50" />
                                            <input type="hidden" name="itemId" value="@item.ItemId">
                                            <input type="hidden" name="itemName" value="@item.Name">
                                            <input type="hidden" name="isUpdate" value="0">
                                            <input type="hidden" name="price" value="@item.Price"><br />
                                            <input type="submit" class="btn btn-info" value="Add to Basket" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        }
        <br/>
        <div class="w-100">
            <br/>
            <h3 style="text-align:center">Basket</h3>
            <table class="table" align="center">
                <tr>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Quantity</th>
                    <th style="text-align: center">Unit Price</th>
                    <th style="text-align: center">Total Price</th>
                    <th style="text-align: center">Update</th>
                </tr>
                @foreach (var item in Model.Basket)
                {
                    item_cost = item.price * item.quantity;
                    basket_cost += item_cost;
                    <tr>
                        <td style="text-align: center">@item.itemName</td>
                        <td style="text-align: center">@item.quantity</td>
                        <td style="text-align: center">@item.price ₺</td>
                        <td style="text-align: center">@item_cost ₺</td>
                        <td style="text-align: center">
                                        <form action="/menu/index?table=@Model.TableNumber&category=@Model.CurrentCategory" method="post">
                                            <input type="number" name="quantity" value="@item.quantity" min="0" max="50" />
                                            <input type="hidden" name="itemId" value="@item.itemId">
                                            <input type="hidden" name="itemName" value="@item.itemName">
                                            <input type="hidden" name="isUpdate" value="1">
                                            <input type="hidden" name="price" value="@item.price"><br/>
                                            <input type="submit" class="btn btn-primary" value="Update" />
                                        </form>
                                    </td>
                    </tr>
                }
                    <tr>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"><b>Basket cost:</b></td>
                        <td style="text-align: center">@basket_cost ₺</td>
                        <td style="text-align: center">
                            <form action="/order?table=@Model.TableNumber" method="post">
                                <input type="submit" class="btn btn-success" value="Give Order!" />
                            </form>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
