@model WebUI.Models.OrderListViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

    <div class="col-4">
        <table class="table">

            <tr>
                <th style="text-align:center">Table</th>
                <th style="text-align:center">Table Status</th>
            </tr>

            @foreach (var table in Model.Table)
            {
                var css = "list-group-item";
                if (table == Model.CurrentCategory)
                {
                    css += " active";
                }
                foreach (var item in Model.Orders)
                {
                    if (item.TableId == table.TableId)
                    {
                        <tr>
                            <th>
                                <a href="/waiterpanel/index?table=@table.TableId" class="@css">@table.TableId</a>
                            </th>

                            <th>
                                <a class="btn btn-xs btn-success" asp-controller="WaiterPanel" asp-action="MakeAvailable" asp-route-tableId="@item.TableId">Make It Available!</a>
                            </th>
                        </tr>

                        break;

                    }
                }
            }
        </table>
    </div>

<div class="col-8">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th style="text-align:center">Table</th>
                <th style="text-align:center">Menu Item</th>
                <th style="text-align:center">Quantity</th>
            </tr>
            @foreach (var item in Model.TableOrders)
            {
                if (item.WaiterId == Model.WaiterId && !item.IsDelivered)
                {
                    <tr>
                        @foreach (var tableitem in Model.Table)
                        {
                            if (item.TableId == tableitem.TableId)
                            {
                                <td style="text-align:center">@tableitem.TableId</td>
                            }
                        }
                        @foreach (var menuitem in Model.Menu)
                        {
                            if (item.ItemId == menuitem.ItemId)
                            {
                                <td style="text-align:center">@menuitem.Name</td>
                            }
                        }

                        <td style="text-align:center">@item.Quantity</td>
                        <td style="text-align:center">
                           <a class="btn btn-xs btn-success" asp-controller="WaiterPanel" asp-action="MakeDelivered" asp-route-orderId="@item.OrderId">Make It Delivered!</a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
