@model WebUI.Models.OrderViewModel
@{
    Layout = "~/Views/_OrderLayout.cshtml";
    decimal basket_cost = 0;
    decimal item_cost = 0;
}
<h2 style="margin: auto">Table : @Model.TableNumber</h2>
<div class="w-75" style="margin: auto">
    <a class="list-group-item list-group-item"><h3>My Orders</h3></a>
    <a class="list-group-item list-group-item-info">Delivered</a>
    <div class="table-responsive">
        <table class="table" align="center">
            <tr>
                <th style="text-align: center" width="25%">Name</th>
                <th style="text-align: center" width="25%">Quantity</th>
                <th style="text-align: center" width="25%">Unit Price</th>
                <th style="text-align: center" width="25%">Total Price</th>
            </tr>
            @foreach (var item in Model.DeliveredOrders)
            {
                if (!item.IsDummy)
                {
                    item_cost = item.MenuItem.Price * item.Quantity;
                    basket_cost += item_cost;
                    <tr>
                        <td style="text-align: center" width="25%">@item.MenuItem.Name</td>
                        <td style="text-align: center" width="25%">@item.Quantity</td>
                        <td style="text-align: center" width="25%">@item.MenuItem.Price ₺</td>
                        <td style="text-align: center" width="25%">@item_cost ₺</td>
                    </tr>
                }
            }
        </table>
    </div>
    
    <a class="list-group-item active">Preparing</a>
    <div class="table-responsive">
        <table class="table" align="center">
            <tr>
                <th style="text-align: center" width="25%">Name</th>
                <th style="text-align: center" width="25%">Quantity</th>
                <th style="text-align: center" width="25%">Unit Price</th>
                <th style="text-align: center" width="25%">Total Price</th>
            </tr>
            @foreach (var item in Model.NotDeliveredOrders)
            {
                if (!item.IsDummy)
                {
                    item_cost = item.MenuItem.Price * item.Quantity;
                    basket_cost += item_cost;
                    <tr>
                        <td style="text-align: center" width="25%">@item.MenuItem.Name</td>
                        <td style="text-align: center" width="25%">@item.Quantity</td>
                        <td style="text-align: center" width="25%">@item.MenuItem.Price ₺</td>
                        <td style="text-align: center" width="25%">@item_cost ₺</td>
                    </tr>
                }
            }
            <tr>
                <td style="text-align: center" width="25%"></td>
                <td style="text-align: center" width="25%"></td>
                <td style="text-align: center" width="25%"><b>Total cost:</b></td>
                <td style="text-align: center" width="25%"><b>@basket_cost ₺</b></td>
            </tr>
        </table>
    </div>
</div>