@model WebUI.Models.UserViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="table-responsive">
    <table class="table" align="center">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Count of Table</th>
        </tr>
        @foreach (var item in Model.Users)
        {

            <tr>
                <td style="text-align:center">@item.UserName</td>
                <td style="text-align:center">@item.FirstName</td>
                <td style="text-align:center">@item.LastName</td>
                <td style="text-align:center">

                    @if (item.PhoneNumber != null)
                    {
                        @item.PhoneNumber
                    }
                </td>

                <td style="text-align:center">@item.Status</td>
                <td style="text-align:center">@item.CountOfTable</td>
            </tr>
        }
    </table>

</div>
